<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="my-textarea">Leave a Comment:</label>
        <input formControlName="commentText" class="form-control" type="text">
        <div *ngIf="submitted && !loggedIn" class="text-danger">
            <div *ngIf="submitted && !loggedIn">Please login to comment</div>
        </div>
    </div>
    <div class="form-group">
        <input [ngClass]="{ 'disabled': commentForm.invalid }" type="submit" class="btn btn-primary" value="Post">
    </div>
</form>