<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']" >RateMyHorse</a>
    <!-- Field to AddNewHorse -->
    <a *ngIf="(loggedInUser | async)" class="nav-item nav-link" [routerLink]="['create']"><fa-icon [icon]="faHorseHead"></fa-icon> New Horse</a>
    <!-- user dropdown -->
    <div *ngIf="(loggedInUser | async)" class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButtonUser" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{loggedInUser | async}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['create']">Post new Horse</a>
            <a class="dropdown-item" [routerLink]="['']" (click)="logout()">Logout</a>
        </div>
    </div>
    <!-- Login dropdown -->
    <div *ngIf="!(loggedInUser | async)" class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButtonLogin" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <app-login (notifyLogin)="onLogin($event)">
            </app-login>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['register']">New horse in town? Sign up</a>
        </div>
    </div>
</nav>
