<form class="px-4 py-3 " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invald': submitted && f.username.errors }" placeholder="Username" autocomplete="username">
        <div *ngIf="this.submitted && f.username.errors" class="text-danger">
            <div *ngIf="f.username.errors.required">Please enter your username</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invald': submitted && f.password.errors }" placeholder="Password" autocomplete="current-password">
        <div *ngIf="this.submitted && f.password.errors" class="text-danger">
            <div *ngIf="f.password.errors.required">Please enter your password</div>
        </div>
    </div>
    <button type="submit" [ngClass]="{ 'disabled': this.loginForm.invalid }" class="btn btn-primary">
        Login
    </button>
</form>