<div class="d-flex flex-column">
    <blockquote class="blockquote">
      <p class="mb-0">{{comment.text}}</p>
      <span class="badge badge-secondary">by {{comment.user.name}}</span>
      <hr />
    </blockquote>
</div>
