@import url(https://fonts.googleapis.com/css?family=PT+Sans:200,300,400,700);
$font-family-base:PT Sans;
@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,700);
$headings-font-family:Muli;

$enable-grid-classes:true;
$enable-shadows:true;
$enable-rounded:false;
$primary:#07689F;
$secondary: #57df55;
$success:#11D3BC;
$danger:#F67280;
$info:#A2D5F2;
$warning:#FF7E67;
$light:#FAFAFA;
$dark:#4e4e4e;
@import "node_modules/bootstrap/scss/bootstrap";

