<form [formGroup]="horseForm" >
    <div *ngIf="!horse" class="input-group mb-3">
        <div class="custom-file">
            <input type="file" formControlName="horseImage" class="custom-file-input" id="inputGroupFile02" accept="img/png" (change)="onFileChanged($event)">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{horseImage?horseImage.name:'Choose file'}}</label>
        </div>
        <div class="input-group-append">
            <span type="button" class="input-group-text" id="inputGroupFileAddon02" (click)="onFileUpload()">Upload</span>
        </div>
    </div>
    <div *ngIf="horse" class="card">
        <img src="/img/{{horse.image}}.png" class="card-img-top" alt="Horse">
        <div class="card-body">
            <div class="form-group">
              <input type="text" formControlName="horseTitle" class="form-control" placeholder="Give your horse a title">
            </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</form>
