
<div class="container">
    <h1 class="display-6">RateMyHorse</h1>
    <p class="lead">Join us today</p>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="test" formControlName="userName" placeholder="Your user name" class="form-control" id="registerUserName" autocomplete="nickname" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <input type="email" formControlName="userEmail" placeholder="Your email address" class="form-control" id="registerEmail" autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }">
        <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
            <div *ngIf="f.userEmail.errors.required">Username is required</div>
            <div *ngIf="f.userEmail.errors.email">Insert a valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <input type="password" formControlName="userPassword" class="form-control" placeholder="Password" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }">
                <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.userPassword.errors.required">Password is required</div>
                </div>
            </div>
            <div class="col">
                <input type="password" formControlName="userPasswordControl" class="form-control" placeholder="Repeat Password" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f.userPasswordControl.errors }">
                <div *ngIf="submitted && f.userPasswordControl.errors" class="invalid-feedback">
                    <div *ngIf="f.userPasswordControl.errors.required">Password is required</div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form> 