
<div *ngIf="horse" class="card">
    <div class="card-body">
        <h5 class="card-title">{{horse.title}}</h5>
        <p class="card-text">Posted by {{horse.user.name}}</p>
    </div>
    <img class="card-img-bottom" src="/img/{{horse.image}}.png" alt="Horse Image">
    <p class="card-text">
        <app-rating [horse]="horse">
            
        </app-rating>
    </p>
    
    <div class="card-footer">
        
        <div *ngFor="let comment of horse.comments">
            <app-comment [comment]="comment">
                
            </app-comment>
        </div>
        <div>
            <app-comment-input (notifyCommentCreated)="onCommentCreated($event)" [horse]="horse">

            </app-comment-input>
        </div>
    </div>
</div>

