<div class="jumbotron">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">The freshest horses</h1>
  </div>

</div>
<div class="card-columns">
    <app-horse-thumb *ngFor="let horse of (horses | async)" [horse]="horse"></app-horse-thumb>
</div>
