<div *ngIf="message" class="alert {{message.cssClass}} alert-dismissible fade show" role="alert">
    {{message.text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
