<div style="text-align:center">
    <star-rating *ngIf="horse" value="{{horse.rating}}" totalstars="5" checkedcolor="gold" uncheckedcolor="black" size="24px" readonly="{{this.readOnly?'true':'false'}}" (rate)="onRate($event)"></star-rating>
</div>  
